html { 
  margin:0;
  padding:0;
  background: url(../images/utile/wallpapers.jpg) no-repeat center fixed;
  z-index: 1;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

body {
	margin:0;
	padding:0;
	z-index: 4;
}

p {
	opacity:1.0;
}

h1, h2{
	text-decoration:underline;
}

footer {
	clear:both;
	width:100%;
	height:100px;
	color:white;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.8);
	filter:alpha(opacity=80);
}

header {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	width:100%;
	height:120px;
	min-height:120px;
	min-width:800px;
	background-color: rgba(255, 255, 255, 0.9);
	filter:alpha(opacity=90);
}

#pub-1 {
	float:left;
	margin:2px;
	width:200px;
	height:100%;
	background-color:red;
}

#pub-2 {
	float:right;
	margin:2px;
	width:200px;
	height:100%;
	background-color:red;
}

#conteneur {
	display: flex;
	width:100%;
	min-width:500px;
	margin-top: 125px;
}

section {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:60%;
	min-height:400px;
	min-width:480px;
	padding:15px;
	padding-top:25px;
	background-color: rgba(255, 255, 255, 0.8);
	filter:alpha(opacity=80);
}

#logo {
	width:100px;
	height:100px;
	margin:10px;
	margin-left:30px;
	opacity:0.6;
	filter:alpha(opacity=90);
}

#nom {
	font-size: 200%;
	margin:25px;
	font-family: "Comic Sans MS", sans-serif;
	align-self: flex-start;
}



#menu-2
{
	background: url("../images/utile/menu_bleu.jpg");
	color: white;
	opacity: 0.9;
	filter:alpha(opacity=90);
	border-radius: 3em 0.5em 0.5em 3em;
	border-width: medium;
	box-shadow: 0 1px 3px black;
	font-size: large;
	font-weight: bold;
	margin: -2.5em 0 0;
	padding: 0.5em 0.5em 0.5em 2.5em;
	position: fixed;
	right: 0;
	text-align: left;
	top: 40%;
	width: 8em;
}

#musique {
	display: flex;
	width:100%;
}

#video {
	text-align:center;
}

#galerie {
	display: flex;
}

.musique {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.image-menu
{
	display:none;
	margin: 0 auto;
	width: 50px;
	height: auto;
	position: fixed;
	top: 0%;
	opacity: 0.8;
	filter:alpha(opacity=80);
	right: 0;
}

.pub {
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	height:100%;
	background-color:grey;
}

.news {
	
	border:1px solid;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	padding:10px;
}

.image-perso {
	background-color:white;
	margin-left:20px;
	width:270px;
	text-align:center;
}

.galerie {
	display:flex;
	margin:10px;
}

.right {
	float:right;
}

.clear {
	clear: both;
}

.adapt-img {
	width: 98%;
}

.important {
	color: red;
}

.centre {
	text-align:center;
}

.left-text {
	text-align:left;
}

.img-galerie {
	
	width: 100%;
}

.test {
	margin:10px;
}

/* CSS DU MENU  récupérer sur internet mais ça sa se voix a 5 années lumières */

.menu, .menu ul{
opacity:1.0;
filter:alpha(opacity=100);
padding:0;
margin:auto;
margin-bottom:0;
list-style:none;
text-align:center;
justify-content: center;
align-self: flex-end;
}
.menu li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
opacity:1.0;
filter:alpha(opacity=100);
}
.menu ul li{
display:inherit;
border-radius:0;
opacity:1.0;
filter:alpha(opacity=100);
}
.menu ul li:hover{
border-radius:0;
}
.menu ul li:last-child{
border-radius:0 0 8px 8px;
}
.menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
.menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
.menu li:first-child{
opacity:1.0;
filter:alpha(opacity=100);
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
.menu li:nth-child(2){
opacity:1.0;
filter:alpha(opacity=100);
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
.menu li:nth-child(3){
opacity:1.0;
filter:alpha(opacity=100);
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
.menu li:last-child{
opacity:1.0;
filter:alpha(opacity=100);
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens sous menus */
.menu li:first-child li{
background:#2A2333;
}
.menu li:nth-child(2) li{
background:#333A40;
}
.menu li:nth-child(3) li{
background:#9F391A;
}
.menu li:last-child li{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
.menu li:first-child:hover, .menu li:first-child li:hover{
background:#65537A;
}
.menu li:nth-child(2):hover, .menu li:nth-child(2) li:hover{
background:#729EBF;
}
.menu li:nth-child(3):hover, .menu li:nth-child(3) li:hover{
background:#F6AD1A;
}
.menu li:last-child:hover, .menu li:last-child li:hover{
background:#CFFF6A;
}
/* les a href */
.menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
.menu ul a{
padding:8px 0;
}
.menu li:hover li a{
color:#fff;
text-transform:inherit;
}
.menu li:hover a, .menu li li:hover a{
color:#000;
}

/* ----------- */

/* Partie pour modifier le css en fonction de la taille de l'écran */

@media screen and (max-width: 1075px) /* sinon le site risque de casser ... */
{
	#musique {
		display: block;
	}
	
	video {
		width: 470px;
	}
	
	.adapt-img {
		width: 98%;
	}
}

@media screen and (max-width: 950px) /* version pour telephone coucher / tablette */
{
	#pub-1 {
        display:none;
    }
	
	#header {
		display:none;
	}
	
	.image-menu {
		display: block;
	}
	
	.menu li{
	border-radius:8px 8px 8px 8px;
	opacity:1.0;
	filter:alpha(opacity=100);
	}
	
}

@media screen and (max-width: 850px) /* version pour telephone lever */
{
	#pub-1 {
        display:none;
    }
	
	#pub-2 {
        display:none;
    }
	
	#pub-3 {
        display:block;
    }
}